.navigation {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;

  & h2 {
    font-size: 26px;
    padding-right: 90px;
  }
  & a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
  }
}
.logo-nav {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
}
.header-nav {
  font-family: "Raleway";
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
}
.navigation__menu {
  display: flex;
  list-style: none;
  gap: 46px;
}
.navigation__menu li {
  display: inline;
  text-decoration: none;

  &:hover {
    display: inline;
    text-decoration: none;
    transition: 250ms;
  }
}
.navigation__menu a {
  text-decoration: none;

  &:hover {
    display: inline;
    text-decoration: none;
    transition: 250ms;
  }
}
.agency {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 53px;
    height: 4px;
    background-color: rgba(33, 150, 243, 1);
    bottom: -33px;
    left: 0px;
  }
}
.link {
  text-decoration: none;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-links li a:hover svg {
  fill: var(--accent-color);
  transition: 250ms;
}
.contact-links {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 14px;
  line-height: 24px;
  color: var(--contacts-header-color);
  padding-left: 345px;
  gap: 30px;

  & a {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
    color: var(--contacts-header-color);
  }
}
.icon-header {
  margin-right: 5px;
  width: 16px;
  height: 16px;

  &:hover,
  &:focus {
    fill: var(--accent-color);
    transition: 250ms;
  }
}
