.main-header {
  max-width: 1600px;
  display: block;
  margin: auto;
  background-image: linear-gradient(to right, #2f303a66 40%, #2f303a66 40%),
    url(../Images/Zdjecia/Img.jpg);
  background-size: cover;
}
.main-text-content {
  display: block;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 280px;
}
