.tittle-page {
  display: flex;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  margin: auto;
  justify-content: space-around;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 30px;
  letter-spacing: 0.06em;
  width: 696px;
}
