.product-center {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
  padding-bottom: 94px;
}
.overlay-box {
  margin: 0;
  position: relative;
  overflow: hidden;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.overlay-box:hover .overlay {
  transform: translatex(0);
  background: rgba(33, 150, 243, 0.9);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.product {
  width: 370px;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: 250ms;
  }
}
.container-overlay {
  display: flex;
  height: 294px;
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: 250ms;
  padding: 49px 45px 49px 24px;

  &:focus,
  &:hover {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.overlay-text {
  font-weight: 400;
  font-size: 18px;
  color: var(--body-background-color);
  line-height: 28px;
  letter-spacing: 0.03em;
}
.photo-description {
  padding: 20px 24px;
  border-bottom: 1px solid var(--grey-line-color);
  border-left: 1px solid var(--grey-line-color);
  border-right: 1px solid var(--grey-line-color);
}
.product-name {
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.product-description {
  color: var(--description-color);
  line-height: 1.875;
  font-size: 16px;
}
