* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --contacts-header-color: #757575;
  --body-background-color: #ffffff;
  --main-text-color: #212121;
  --color-icon: #afb1b8;
  --grey-line-color: #eeeeee;
  --blue-color: rgba(33, 150, 243, 1);
  --transition-fn: cubic-bezier(0.4, 0, 0.2, 1);
}
.img {
  object-fit: cover;
  display: block;
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--main-text-color);
  margin: auto;
}
input {
  outline: none;
}
input:hover + svg,
input:focus-within + svg {
  fill: #2196f3;
}
input:checked + .modal__checkbox-icon {
  fill: var(--accent-color);
  border-color: var(--accent-color);
  border-radius: 2px;
  transition: border-color 250ms var(--transition-fn);
  transition: fill 250ms var(--transition-fn);
}
